.main-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .table-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
  }
  .table-header input[type="text"] {
    border-radius: 6px;
    outline: none;
    padding: 10px;
    width: 150px;
    height: 30px;
  }
  .table-header button {
    background-color: #36E5C6;
    color:#FFFFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
  }
  table {
    height: 100%;
    width:100%;
    overflow: auto;
    word-break: break-all;
  }
  .table-data{
    position: relative;
    height: calc(100% - 140px);
    overflow: auto;
    box-shadow: none;
    margin: 5px 25px 10px 25px;
    max-width: 100%;
    word-break: break-all;
  }
  .mat-header-cell{
    font-size: 13px;
    padding: 4px 8px;
    margin-bottom: 2px;
  }
  .mat-mdc-header-row {
    background-color: #faf9fc;
  }
  tr:nth-child(even) {
    background-color: #f9fafc;
  }
  .mat-icon{
    color:#808080FF;
    background-color: #F5F5F5FF;
    font-size: 18px;
  }
  .mat-icon:hover {
    cursor: pointer;
    background-color: #FFF00F;
  }
  .mat-mdc-paginator{
    margin: 10px 0 0 25px;
  }
  
  